.layout {
  min-height: 100vh;
}

.header {
  background-color: #bb112d;
  padding: 0 50px;
}

.logo {
  display: block;
  width: 105px;
  height: 100%;
  background: url('../LayoutAdmin/img/logo.svg') center no-repeat;
  background-size: 105px 28px;
}

.sider {
  width: 200px;
  background: #ffffff;
}

.menu {
  height: 100%;
}

.main {
  background: #ffffff;
  margin-left: 24px;
  padding: 0;
}

.breadcrumb {
  padding: 12px 0;
  background: #ececec;
  margin: 0;
}

.content {
  background: #ffffff;
  padding: 24px;
  margin: 0;
  min-height: 280px
}

.footer {
  text-align: center;
}